<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="JCMSIntegrationTierPU" transaction-type="JTA">
    <jta-data-source>java:/JCMSWebDS</jta-data-source>
    <class>jcms.integrationtier.cv.CvCauseOfDeathEntity</class>
    <class>jcms.integrationtier.cv.CvCoatColorEntity</class>
    <class>jcms.integrationtier.cv.CvContainerStatusEntity</class>
    <class>jcms.integrationtier.cv.CvDietEntity</class>
    <class>jcms.integrationtier.cv.CvEpochEntity</class>
    <class>jcms.integrationtier.cv.CvExpSampleLocationEntity</class>
    <class>jcms.integrationtier.cv.CvExpStatusEntity</class>
    <class>jcms.integrationtier.cv.CvFieldOfStudyEntity</class>
    <class>jcms.integrationtier.cv.CvGeneclassEntity</class>
    <class>jcms.integrationtier.cv.CvGenerationEntity</class>
    <class>jcms.integrationtier.cv.CvGenotypeSpecimenLocationEntity</class>
    <class>jcms.integrationtier.cv.CvHarvestMethodEntity</class>
    <class>jcms.integrationtier.cv.CvHealthLevelEntity</class>
    <class>jcms.integrationtier.cv.CvKeywordsEntity</class>
    <class>jcms.integrationtier.cv.CvLocationTypeEntity</class>
    <class>jcms.integrationtier.cv.CvMatingCardNotesEntity</class>
    <class>jcms.integrationtier.cv.CvMouseOriginEntity</class>
    <class>jcms.integrationtier.cv.CvMouseProtocolEntity</class>
    <class>jcms.integrationtier.cv.CvMouseUseEntity</class>
    <class>jcms.integrationtier.cv.CvPreservationDetailEntity</class>
    <class>jcms.integrationtier.cv.CvPreservationMethodEntity</class>
    <class>jcms.integrationtier.cv.CvPreservationTypeEntity</class>
    <class>jcms.integrationtier.cv.CvSampleClassEntity</class>
    <class>jcms.integrationtier.cv.CvSampleDateTypeEntity</class>
    <class>jcms.integrationtier.cv.CvSampleStatusEntity</class>
    <class>jcms.integrationtier.cv.CvSampleTypeEntity</class>
    <class>jcms.integrationtier.cv.CvStorageFacilityEntity</class>
    <class>jcms.integrationtier.cv.CvStrainTypeEntity</class>
    <class>jcms.integrationtier.cv.CvTestStatusEntity</class>
    <class>jcms.integrationtier.cv.CvTimeUnitEntity</class>
    <class>jcms.integrationtier.cv.CvWeightUnitEntity</class>
    <class>jcms.integrationtier.colonyManagement.GeneEntity</class>
    <class>jcms.integrationtier.colonyManagement.LifeStatusEntity</class>
    <class>jcms.integrationtier.colonyManagement.LitterEntity</class>
    <class>jcms.integrationtier.colonyManagement.OwnerEntity</class>
    <class>jcms.integrationtier.colonyManagement.PenGroupEntity</class>
    <class>jcms.integrationtier.colonyManagement.StrainEntity</class>
    <class>jcms.integrationtier.cv.CvBirthEventStatusEntity</class>
    <class>jcms.integrationtier.cv.CvBreedingStatusEntity</class>
    <class>jcms.integrationtier.cv.CvSexEntity</class>
    <class>jcms.integrationtier.colonyManagement.ContainerHistoryEntity</class>
    <class>jcms.integrationtier.colonyManagement.RoomEntity</class>
    <class>jcms.integrationtier.colonyManagement.ContainerEntity</class>
    <class>jcms.integrationtier.colonyManagement.MouseEntity</class>
    <class>jcms.integrationtier.colonyManagement.GenotypeEntity</class>
    <class>jcms.integrationtier.colonyManagement.MouseUsageEntity</class>
    <class>jcms.integrationtier.colonyManagement.JCMSDbInfoEntity</class>
    <class>jcms.integrationtier.colonyManagement.DbsetupEntity</class>
    <class>jcms.integrationtier.colonyManagement.MatingEntity</class>
    <class>jcms.integrationtier.cv.CvCrossstatusEntity</class>
    <class>jcms.integrationtier.colonyManagement.AlleleEntity</class>
    <class>jcms.integrationtier.cv.CvLitterTypeEntity</class>
    <class>jcms.integrationtier.cv.CvTheilerStageEntity</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
    </properties>
  </persistence-unit>
  <persistence-unit name="JCMSWebIntegrationTierPU" transaction-type="JTA">
    <jta-data-source>java:/JCMSWebDBDS</jta-data-source>
    <class>jcms.integrationtier.jcmsWeb.CenterEntity</class>
    <class>jcms.integrationtier.jcmsWeb.DbInfoEntity</class>
    <class>jcms.integrationtier.jcmsWeb.FunctionalAreaEntity</class>
    <class>jcms.integrationtier.jcmsWeb.QueryDefinitionEntity</class>
    <class>jcms.integrationtier.jcmsWeb.UserEntity</class>
    <class>jcms.integrationtier.jcmsWeb.WorkgroupEntity</class>
    <class>jcms.integrationtier.jcmsWeb.WorkgroupUserEntity</class>
    <class>jcms.integrationtier.jcmsWeb.WorkgroupUserFunctionalAreaEntity</class>
    <class>jcms.integrationtier.jcmsWeb.CvQueryTypeEntity</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
    </properties>
  </persistence-unit>
</persistence>
